/*=========================================
            FOOTER
==========================================*/

.footer{
    background:#161821;
    padding:70px 0 25px;
    border-top:1px solid rgba(255,255,255,.08);
}

.footer-top{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:60px;
    margin-bottom:50px;
}

.footer-logo h2{
    color:#FFC107;
    font-size:32px;
    margin-bottom:15px;
}

.footer-logo p{
    color:#bdbdbd;
    line-height:1.9;
    max-width:420px;
}

.footer-links h3,
.footer-social h3{
    color:#fff;
    margin-bottom:20px;
}

.footer-links ul{
    list-style:none;
    padding:0;
}

.footer-links li{
    margin-bottom:12px;
}

.footer-links a{
    color:#bdbdbd;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:#FFC107;
    padding-left:6px;
}

.social-icons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.social-icons a{
    width:48px;
    height:48px;
    background:#252734;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    text-decoration:none;
    transition:.35s;
}

.social-icons a:hover{
    background:#FFC107;
    color:#111;
    transform:translateY(-6px);
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.08);
    padding-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
}

.footer-bottom p,
.footer-bottom span{
    color:#9e9e9e;
    font-size:14px;
}

@media(max-width:992px){

.footer-top{
grid-template-columns:1fr;
gap:40px;
}

.footer-bottom{
flex-direction:column;
text-align:center;
}

}